<% layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-6 offset-3 mt-3 login-signup">
      <h4 class="mt-2 offset-5 mb-2">SignUp</h4>
      <form
        action=""
        method="post"
        action="/signup"
        novalidate
        class="needs-validation mt-2 mb-5"
      >
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input type="text" name="username" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input type="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-primary mt-3 offset-5">signup</button>
      </form>
      <p>Already have account?<a href="/login">Login</a></p>
    </div>
  </div>
</body>
